@page "/logout"
@layout HeadlessLayout
@inherits LogoutPageCode

<PageTitle>Dima - Sair</PageTitle>

<MudText Typo="Typo.h3">Finalizando Sessão...</MudText>
<MudPaper Class="pa-8 mt-4">
    <div class="d-flex justify-center pb-8 pt-8">
        <img src="imgs/dima.png" alt="Dima - Seu controle financeiro" width="200" />
    </div>
    <MudAlert Severity="Severity.Info">
        Sessão finalizada...
        <div>
            <MudButton Variant="Variant.Text" Href="/login">Ir para tela de login</MudButton>
        </div>
    </MudAlert>
</MudPaper>

